$text-primary: #0d1619;
$text-secondary: #6b6c6c;
$text-heading: #2e3440;
$border-container: #e5e5e5;
$border-primary: #0d1619;
$border-radius: 8px;
$border-category: #d3d3d3;
$error: rgba(208, 48, 48, 0.906);

@mixin flex(
  $direction: column,
  $justify-content: center,
  $align-items: flex-start
) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: $direction;
  align-items: $align-items;
}

@mixin input {
  width: 256px;
  height: 40px;
  border: 1px solid #bfbfbf;
  border-radius: $border-radius;
}

@mixin text-primary {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: $text-primary;
}

@mixin text-secondary {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: $text-secondary;
}

@mixin text-secondary-small {
  font-size: 15px;
  line-height: 20px;
  color: $text-secondary;
  font-weight: 400;
}

@mixin text-post-title {
  font-size: 17px;
  line-height: 24px;
  color: $text-primary;
  font-weight: 500;
}

@mixin post-image {
  border: 1px solid $border-container;
  border-radius: $border-radius;
  @include flex;
  background: #fff;
}

@mixin sidebar-item-value {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

@mixin psuedo {
  &:hover {
    background-color: #f2f2f2;
  }

  &:active {
    background-color: #e5e5e5;
  }
}

@mixin content-actions {
  @include flex(column);
  border-top: 1px solid $border-container;
  margin-top: 30px;
  padding-top: 20px;
  align-items: flex-start;
  gap: 15px;
}
