@use "../../../variables" as *;

.SidebarUser__item {
  margin-top: 40px;
}

.SidebarUser__item-name {
  @include sidebar-item-value;
  color: $text-secondary;
}

.SidebarUser__item-value {
  @include text-primary;
  margin-top: 4px;
}
