@use "../../../styles/variables" as *;

header {
  background: #ffffff;
  border-bottom: $border-container;
  padding: 14px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  width: 100%;

  button,
  a {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 18px;
    height: auto;
  }

  #menu-button {
    display: none;
  }

  svg {
    width: 17px;
    height: auto;
    color: $text-secondary;
  }

  .Header__right {
    @include flex(row, flex-start, center);
    gap: 10px;
    color: $text-secondary;
  }
}

@media only screen and (max-width: 768px) {
  header {
    justify-content: space-between;
    position: fixed;

    #menu-button {
      display: initial;
    }
  }
}
