@use "../../../styles/variables" as *;

header {
  @include flex(row, flex-end, center);
  background: #fff;
  border-bottom: 1px solid $border-container;
  padding: 14px 30px;
  height: fit-content;
  width: 100%;

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 18px;
    height: auto;
    text-decoration: none;
  }

  a {
    color: $text-primary;
    text-decoration: none;
  }

  #menu-button {
    display: none;
  }

  svg {
    width: 17px;
    height: auto;
    color: $text-secondary;
  }

  .Header {
    &__right {
      @include flex(row, flex-start, center);
      gap: 10px;
      color: $text-secondary;
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    justify-content: space-between;
    position: fixed;

    #menu-button {
      display: initial;
    }
  }
}
