@use "../../../../styles/variables" as *;

.ViewSinglePost {
  background: $content-background;

  a {
    color: $text-primary;
  }

  &__history {
    @include text-secondary-small;
    display: block;
  }

  h2 {
    font-style: italic;
  }

  hr {
    border: 1px solid $border-container;
  }

  &__actions {
    @include content-actions;
  }

  &__category {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 4px 8px;
    width: fit-content;
    border: 1px solid $border-category;
    border-radius: $border-radius;
    text-transform: capitalize;
    @include flex(row, flex-start, center);

    svg {
      margin-right: 5px;
    }
  }

  img {
    border: 1px solid $border-container;
    border-radius: $border-radius;
    max-width: 650px;
  }
}

@media only screen and (max-width: 768px) {
  img {
    width: 100%;
  }
}
