@use "../../../styles/variables" as *;

.SidebarDetail {
  right: -440px;
  width: 440px;
  border-left: 1px solid $border-container;
  height: 100%;
  background: #ffffff;
  position: relative;
  animation: slide-right 0.2s ease-in forwards;

  &__top {
    @include flex(column);
    padding: 48px;
    background: #f2f2f2;
    border-bottom: 1px solid $border-container;
    gap: 10px;
  }

  &__info {
    @include flex(column);
  }

  &__items {
    padding: 0px 40px;
  }

  &__title {
    @include text-post-title;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 16px;
  }

  &__subtitle {
    @include text-secondary;
    margin-top: 10px;
  }

  &__actions {
    margin-top: 10px;
  }
}

@keyframes slide-right {
  0% {
    right: -440px;
  }
  100% {
    right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .SidebarDetail {
    display: initial;
    width: 100%;
    border-left: none;
    position: initial;

    &__items {
      padding-bottom: 40px;
      margin-bottom: 70px;
    }
  }
}
