@use "../../variables" as *;

.Navbar {
  background: #ffffff;
  border-bottom: $border-container;
  padding: 14px 29.25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  input[type="search"] {
    @include input;
    // background: transparent url("../../images/search.svg") no-repeat 13.88px
    //   center;
    background-size: 16.25px;
    padding: 8px 12px 8px 40px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 33.25px;
  }

  input[type="search"]::placeholder {
    color: #acacac;
  }

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 17.51px;
    height: 16.73px;
  }

  svg {
    width: 17.51px;
    height: 16.73px;
  }
}
