@use "../../variables" as *;

.Sidebar {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  border-right: $border-container;
  background: #ffffff;
  box-sizing: border-box;
}

.Sidebar__top {
  @include flex(column);
}

.Sidebar__items {
  margin-top: 40px;
}

.Sidebar__name {
  @include text-post-title;
  margin-top: 16px;
}

.Sidebar__role {
  @include text-secondary-small;
  margin-top: 4px;
}

@media only screen and (max-width: 768px) {
  .Sidebar,
  .Sidebar--open,
  .Sidebar--close {
    padding: 32px 16px;
    position: absolute;
    width: 280px;
    border-right: $border-container;
    background: #fff;
    height: 100%;
    left: 0px;
    z-index: 2;
  }

  .Sidebar__underlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .Sidebar--open {
    left: -280px;
    animation: slide-right 0.2s ease-in-out forwards;
  }

  .Sidebar--close {
    left: 0px;
    animation: slide-left 0.2s ease-in-out forwards;
  }

  @keyframes slide-left {
    0% {
      left: 0;
    }
    100% {
      left: -280px;
    }
  }

  @keyframes slide-right {
    0% {
      left: -280px;
    }
    100% {
      left: 0;
    }
  }
}
