@use "../../../styles/variables" as *;

.Sidebar,
.Sidebar--open,
.Sidebar--close {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  border-right: $border-container;
  background: #ffffff;
}

.Sidebar {
  &__top {
    @include flex(column, center, center);
    text-align: center;
  }

  &__items {
    margin-top: 40px;
  }

  &__name {
    @include text-post-title;
    margin-top: 16px;
  }

  &__role {
    @include text-secondary-small;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .Sidebar,
  .Sidebar--open,
  .Sidebar--close {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .Sidebar {
    left: -280px;

    &__underlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: #9f9f9f;
      opacity: 0.3;
    }

    &--open {
      left: 0px;
    }

    &--close {
      left: -280px;
      animation: slide-left 0.2s ease-out backwards;
    }
  }

  @keyframes slide-left {
    0% {
      left: 0px;
    }
    100% {
      left: -280px;
    }
  }
}
