@use "../../../../styles/variables" as *;

.SidebarDetail {
  &__item {
    margin-top: 40px;
  }

  &__item-name {
    @include sidebar-item-value;
    color: $text-secondary;
  }

  &__item-value {
    @include text-primary;
    margin-top: 5px;
    text-transform: capitalize;
  }
}
