@use "../../../../styles/variables" as *;

.SidebarItem .SidebarItem__title {
  @include sidebar-item-value;
  margin-left: 20px;
}

.SidebarItem {
  @include flex(row, flex-start, center);
  @include text-primary;
  @include psuedo;
  padding: 12px 0px 12px 15px;
  margin-bottom: 4px;
  border-radius: $border-radius;
  text-decoration: none;

  cursor: pointer;

  &:last-child {
    margin-bottom: 0px;
  }

  &__icon {
    width: 15px;
    height: auto;
  }

  &__icon-container {
    width: 25px;
    height: auto;
  }
}
